<div class="covid">
    <p>During the ongoing Coronavirus Core Reflections is responding by offering the following.</p>
    <ul>
        <li>Supporting and consulting to Health Visiting Services in East London</li>
        <li>Supporting and Consulting to School nursing services in East London</li>
        <li>Supporting teachers dealing with Safeguarding issues during lockdown.</li>
        <li>Supporting people with Farewell family /friends letters during the Coronavirus.</li>
        <li>Free therapy for regular clients that have been affected by the Coronavirus, and have become unemployed.</li>
    </ul>
</div>
