<div class="ethos-container">
    <div class="container ethos-content">
        <h3>My Ethos</h3>

        <p>Any work undertaken by Core Reflections is conducted with an ethos of respect, which is a belief I have
            carried
            with me throughout my working career.</p>
        <p>This ethos represents the important idea that everyone has something important and valuable to offer, thus
            every
            person should be respected as such.</p>


        <p>This encompasses the belief that services should be accessible for everyone and anything is possible if we
            support each other.</p>


    </div>

</div>