<footer id="contact">
    <div class="container footer-container">
        <div class="item item-1">
            <h3>Contact</h3>
            <p>Please email me at: <br>
                <a href="mailto:pauline@corereflections.org.uk">pauline@corereflections.org.uk&nbsp;</a></p>
            <p><a href="#">Privacy Policy</a><br>© 2021 Core Reflections</p>
            <a href="https://twitter.com/PaulineOHallora"><i class="fab fa-twitter fa-lg"></i></a>
        </div>
        <div class="item item-2">
            <h3>London Based</h3>
            <h4>Registered address</h4>
            <p>Edgar House<br> 12 Birmingham Road<br> Walsall<br> WS1 2NA</p>

        </div>
        <div class="item item-3">
            <a href="https://www.bacp.co.uk/"><img
                    src="/images/British-Association-for-Counselling-and-Psycotherapy.gif"
                    alt="British Association for Counselling & Psychotherapy"></a>
            <a href="https://www.socialenterprise.org.uk/"><img
                    src="/images/Social_Enterprise_UK_Member_Supporting_Small_Black.gif"
                    alt="Social Enterprise UK Member"></a>
        </div>
    </div>

</footer>