<section id="services" class="services">
    <h3>Services</h3>
    <div class="accordion js-accordion accordion-grid">
        <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">
                Counselling
            </div>
            <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <ul>
                        <li>Clinical</li>
                        <li>Non-Clinical</li>
                        <li>Individuals.</li>
                        </ul>
                        <a class="accordion-btn" href="/services/counselling">Read more</a>
                </div>

            </div><!-- end of accordion body -->
        </div><!-- end of accordion counselling item -->
        <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">
                Clinical Supervision
            </div>
            <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <ul>
                        <li>Clinicians</li>
                        <li>Staff teams</li>
                        <li>Individuals.</li>
                        </ul>
                        <a class="accordion-btn" href="/services/clinical-supervision/">Read more</a>
                </div>

            </div><!-- end of accordion body -->
        </div><!-- end of accordion Clinical Supervision item -->
        <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">
                Staff Groups
            </div>
            <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <ul>
                        <li>Space to Talk</li>
                        <li>Bereavement Groups for Staff.</li>
                        </ul>
                        <a class="accordion-btn" href="/services/staff-groups/">Read more</a>
                </div>

            </div><!-- end of accordion body -->
        </div><!-- end of accordion Staff Groups item -->
        <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">
                Reflective Practice
            </div>
            <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <ul>
                        <li>Staff groups</li>
                        <li>Teams</li>
                        <li>Community groups</li>
                        <li>Organisations.</li>
                        </ul>
                        <a class="accordion-btn" href="/services/reflective-practice/">Read more</a>
                </div>

            </div><!-- end of accordion body -->
        </div><!-- end of accordion Reflective Practice item -->
        <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">
                Mediation
            </div>
            <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <ul>
                        <li>Assisting in situations of conflict</li>
                        <li>Impartial, independent, non- judgemental</li>
                        </ul>
                        <a class="accordion-btn" href="/services/mediation/">Read more</a>
                </div>

            </div><!-- end of accordion body -->
        </div><!-- end of accordion Mediation item -->
        <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">
                Coaching
            </div>
            <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <ul>
                        <li>One to one support</li>
                        <li>Supporting critical and creative thinking</li>
                        <li>Encouraging creative thinking</li>
                        </ul>
                        <a class="accordion-btn" href="/services/coaching/">Read more</a>
                </div>

            </div><!-- end of accordion body -->
        </div><!-- end of accordion Coaching item -->
        <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">
                Community Development
            </div>
            <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <ul>
                        <li>One to one support</li>
                        <li>Supporting critical and creative thinking</li>
                        <li>Encouraging creative thinking</li>
                        </ul>
                        <a class="accordion-btn" href="/services/community-development/">Read more</a>
                </div>

            </div><!-- end of accordion body -->
        </div><!-- end of accordion Community Development item -->
        <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">
                Boards / Member of
            </div>
            <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <ul>
                        <li>Interim Director of Carers Centre Tower Hamlets for 7 months from July 2019 to February 2020.</li>
                        <li>Governor of North Star New School in Barking</li>
                        <li>Member of Social Ark CIC</li>
                        <li>Mentor of the Director of Film Bunch</li>
                        </ul>
                      
                </div>

            </div><!-- end of accordion body -->
        </div><!-- end of accordion Boards / Member of item -->
    </div><!-- end of accordion -->



</section>