<section id="testimonials">
    <h3>Testimonials</h3>
    <div class="testimonials-container">
        <div class="item item-1">
            <img src="/images/drawkit-web-dev-colour-thumbnail-2.png" alt="Anonymous" />
        </div>
        <div class="item item-2">
            <div class="testimonial-text">
                <i class="fas fa-quote-right fa-3x quotes"></i>
                <p>I have worked with Pauline as my one-to-one clinical supervisor for a number of years as part of my practice as a self-employed psychotherapist.</p>
                   <h4> Quality of the supervision</h4>
<p>Pauline is a very highly experienced therapist and supervisor and provides very high-quality supervision. She is highly reflective and is a very supportive presence. She has a particular strength in tuning in to the experience and needs of the clients I have discussed with her and is also very skilled in helping me to reflect on my own countertransference towards clients.</p>                    
                    <h4>Professionalism</h4>
                    <p>Pauline is very professional and is clear in her boundaries and agreements in relation to booking times, payments, managing confidentiality, etc.</p>
                    
                    <h4>Overall feeling of supervision.</h4>
                    <p>Overall, my feeling is that Pauline is a very grounding and supportive supervisor. I am comfortable that she will treat any questions or uncertainties I might share with her without judgment and will work through any issues I may be struggling with as a colleague and peer. Coming away from a session with Pauline, I always feel as though I have had an opportunity to explore what I needed to in depth, allowing me to support my clients with more confidence. I also feel as though she has invested a great deal of reflection and consideration in understanding my strengths as a therapist and areas where I might benefit from guidance.</p>
                    <h4>Support outside the clinical supervision sessions.</h4>
                    <p>
                    Pauline helpfully makes herself available in the case of any immediate pressing concerns or emergencies relating to client care. If I have an issue I would like to get guidance from her about at short notice, I know that I can contact her to organize a call and that she will find a space to speak to me as soon as possible.</p>
                <p class="citation">John Pollard - Psychotherapist</p>

            </div>
        </div><!-- end of fifth testimonial -->
        <div class="item item-1">
            <img src="/images/drawkit-web-dev-colour-thumbnail-3.png" alt="Anonymous" />
        </div>
        <div class="item item-2">
            <div class="testimonial-text">
                <i class="fas fa-quote-right fa-3x quotes"></i>
                <p>Working with Pauline in supervision had always been positive because we are able to communicate in British Sign Language which is my first language and she is able to understand my feelings/thoughts especially in the minority community I worked & lived in.</p>
<p>Sometimes working in different cultural ad language minority groups can be challenging. Pauline is able to cross any barriers with personal understanding and professional skill as a clinical supervisor.</p>          
                   
                <p class="citation">Trudi Collier - Psychodynamic Counsellor</p>

            </div>
        </div><!-- end of sixth testimonial -->
        <div class="item item-1">
            <img src="/images/leiths-cookery-school.gif" alt="Leiths Cookery School" />
        </div>
        <div class="item item-2">

            <div class="testimonial-text">
                <i class="fas fa-quote-right fa-3x quotes"></i>
                <p>Pauline has helped us with complex and sensitive staff situations. She has a really practical
                    down-to-earth approach which has resulted in measurable improvements that have meant better
                    relationships between staff and less management time spent trying to solve problems.</p>
                <p>Pauline has provided mediation and also bespoke communication interventions where she has taken time
                    to understand the individuals’ issues and to make a plan to help them refocus on the work they are
                    doing and less on the personal matters which frustrate them.</p>
                <p>Pauline is easy to talk to and understanding. She gets to the heart of a problem and cuts through the
                    waffle!</p>
                <p class="citation">Leiths Cookery School of Food & Wine</p>
            </div>
        </div><!-- end of first testimonial -->
        <div class="item item-1">
            <img src="/images/drawkit-web-dev-colour-thumbnail.png" alt="Anonymous" />

        </div>
        <div class="item item-2">
            <div class="testimonial-text">
                <i class="fas fa-quote-right fa-3x quotes"></i>
                <p>I was in a dark place tried Counselling before but I felt I didn’t fit in and it was over for me
                    after a couple of sessions.
                </p>
                <p>Then I meet Pauline after Counselling sessions with her, this lady changed my life and I could see a
                    light at the end of the tunnel. I suffered a lot of trauma and pain, my heart was aching through the
                    anxiety and stress of everything I had experienced. She gave me tools to cope and words that I will
                    never forget.</p>

                <p>I’m so thankful for this amazing lady that I’m still here today to write this.</p>
                <p class="citation">Mary, East London</p>
            </div>
        </div><!-- end of second testimonial -->

        <div class="item item-1">
            <img src="/images/carers-centre-tower-hamlets-logo.jpg" alt="Carers Centre Tower Hamlets" />
        </div>
        <div class="item item-2">
            <div class="testimonial-text">
                <i class="fas fa-quote-right fa-3x quotes"></i>
                <p>Pauline joined us at a key time as Interim Director, supporting the Board and staff team to
                    transition
                    through significant change. Pauline joined us at a key time as Interim Director, supporting the
                    Board and staff team to transition through significant change.
                    <p>Using her extensive knowledge and networks, Pauline kept our mission and the lives of our
                        beneficiaries central to the development of the charity, providing strategic direction by
                        working
                        closely with the Board of Trustees and other stakeholders.
                    </p>
                    <p>Pauline, has an excellent coaching style, and was able to support the team to develop their
                        roles,
                        while improving the quality and scope of our activities.</p>
                    <p class="citation">Chair, Carers Centre Tower Hamlets, Sharron Currie</p>

            </div>
        </div><!-- end of third testimonial -->
        <div class="item item-1">
            <img src="/images/soundvoice.png" alt="SoundVoice" />
        </div>
        <div class="item item-2">
            <div class="testimonial-text">
                <i class="fas fa-quote-right fa-3x quotes"></i>
                <p>We wanted to offer wellbeing support to people taking part in online creative workshops as we knew
                    that the subject matter was very personal and potentially emotionally triggering. This was
                    especially the case with sessions taking place online during a series of national lockdowns. Pauline
                    was incredibly helpful and supportive in talking through the best way to support those taking part,
                    and very flexible in the support she was able to offer. At the forefront was a deep understanding
                    and care for individuals going through extremely difficult changes in their lives, which gave us the
                    confidence to trust that we were working with the right person to support them. We would definitely
                    look to work with Pauline again in the future, and would recommend anyone running a similar project
                    take up similar advice and wellbeing support for the people they are working with.</p>
                <p class="citation">Katherine Wilde, Producer, Sound Voice</p>

            </div>
        </div><!-- end of fourth testimonial -->
       

    </div>

</section>